In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts'))

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [3]:
from data_fetcher import fetch_data

In [6]:
tsla_data = fetch_data("TSLA", "2015-01-01", "2025-01-31")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [7]:
tsla_data

Price            Close        High         Low        Open    Volume
Ticker            TSLA        TSLA        TSLA        TSLA      TSLA
Date
2015-01-02   14.620667   14.883333   14.217333   14.858000  71466000
2015-01-05   14.006000   14.433333   13.810667   14.303333  80527500
2015-01-06   14.085333   14.280000   13.614000   14.004000  93928500
2015-01-07   14.063333   14.318667   13.985333   14.223333  44526000
2015-01-08   14.041333   14.253333   14.000667   14.187333  51637500
...                ...         ...         ...         ...       ...
2025-01-24  406.579987  418.880005  405.779999  414.450012  56427100
2025-01-27  397.149994  406.690002  389.000000  394.799988  58125500
2025-01-28  398.089996  400.589996  386.500000  396.910004  48910700
2025-01-29  389.100006  398.589996  384.480011  395.209991  68033600
2025-01-30  400.279999  412.500000  384.410004  410.779999  98092900

[2535 rows x 5 columns]

In [8]:
bnd_data = fetch_data("BND", "2015-01-01", "2025-01-31")

[*********************100%***********************]  1 of 1 completed

In [9]:
bnd_data

Price           Close       High        Low       Open   Volume
Ticker            BND        BND        BND        BND      BND
Date
2015-01-02  62.573143  62.603427  62.399011  62.406583  2218800
2015-01-05  62.754837  62.777549  62.610989  62.641273  5820100
2015-01-06  62.936531  63.125802  62.860824  62.860824  3887600
2015-01-07  62.974388  63.050096  62.875969  62.944104  2433400
2015-01-08  62.875969  62.921392  62.815401  62.921392  1873400
...               ...        ...        ...        ...      ...
2025-01-24  71.805977  71.855810  71.636531  71.766106  5555700
2025-01-27  72.184738  72.204677  72.025262  72.104996  8621200
2025-01-28  72.144867  72.154837  71.975421  72.154837  4424300
2025-01-29  72.104996  72.254510  71.935550  72.194707  5780200
2025-01-30  72.204674  72.294378  72.144864  72.224605  5622300

[2535 rows x 5 columns]

In [10]:
spy_data = fetch_data("SPY", "2015-01-01", "2025-01-31")

[*********************100%***********************]  1 of 1 completed

In [11]:
spy_data

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2015-01-02  172.592896  173.811130  171.542703  173.391052  121465900
2015-01-05  169.475937  171.702341  169.165084  171.534312  169632600
2015-01-06  167.879639  170.316081  167.073085  169.786780  209151400
2015-01-07  169.971619  170.316085  168.770204  169.223882  125346700
2015-01-08  172.987732  173.206180  171.383047  171.399841  147217800
...                ...         ...         ...         ...        ...
2025-01-24  607.969971  610.780029  606.799988  609.809998   34604700
2025-01-27  599.369995  599.690002  594.640015  594.809998   70361100
2025-01-28  604.520020  605.369995  597.250000  600.619995   44433300
2025-01-29  601.809998  604.130005  599.219971  603.719971   37177400
2025-01-30  605.039978  606.599976  600.719971  603.960022   39281300

[2535 rows x 5 columns]

In [4]:
import sys
import os
# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [4]:
from data_analysis import download_stock_data

ModuleNotFoundError: No module named 'data_analysis'

In [ ]:
download_stock_data(TESLA)

In [8]:
tsla_data = yf.download("TSLA", start="2015-01-01", end="2025-01-31")

[*********************100%***********************]  1 of 1 completed

In [9]:
tsla_data

Price            Close        High         Low        Open    Volume
Ticker            TSLA        TSLA        TSLA        TSLA      TSLA
Date
2015-01-02   14.620667   14.883333   14.217333   14.858000  71466000
2015-01-05   14.006000   14.433333   13.810667   14.303333  80527500
2015-01-06   14.085333   14.280000   13.614000   14.004000  93928500
2015-01-07   14.063333   14.318667   13.985333   14.223333  44526000
2015-01-08   14.041333   14.253333   14.000667   14.187333  51637500
...                ...         ...         ...         ...       ...
2025-01-24  406.579987  418.880005  405.779999  414.450012  56427100
2025-01-27  397.149994  406.690002  389.000000  394.799988  58125500
2025-01-28  398.089996  400.589996  386.500000  396.910004  48910700
2025-01-29  389.100006  398.589996  384.480011  395.209991  68033600
2025-01-30  400.279999  412.500000  384.410004  410.779999  98092900

[2535 rows x 5 columns]

In [7]:
bnd_data = yf.download("BND", start="2015-01-01", end="2025-01-31")

[*********************100%***********************]  1 of 1 completed

In [10]:
bnd_data

Price           Close       High        Low       Open   Volume
Ticker            BND        BND        BND        BND      BND
Date
2015-01-02  62.573132  62.603416  62.398999  62.406572  2218800
2015-01-05  62.754860  62.777572  62.611012  62.641296  5820100
2015-01-06  62.936531  63.125802  62.860824  62.860824  3887600
2015-01-07  62.974369  63.050076  62.875950  62.944085  2433400
2015-01-08  62.875931  62.921354  62.815363  62.921354  1873400
...               ...        ...        ...        ...      ...
2025-01-24  71.805977  71.855810  71.636531  71.766106  5555700
2025-01-27  72.184738  72.204677  72.025262  72.104996  8621200
2025-01-28  72.144867  72.154837  71.975421  72.154837  4424300
2025-01-29  72.104996  72.254510  71.935550  72.194707  5780200
2025-01-30  72.204674  72.294378  72.144864  72.224605  5622300

[2535 rows x 5 columns]

In [6]:
spy_data = yf.download("SPY", start="2015-01-01", end="2025-01-31")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [11]:
spy_data

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2015-01-02  172.592865  173.811099  171.542672  173.391022  121465900
2015-01-05  169.475922  171.702325  169.165069  171.534297  169632600
2015-01-06  167.879639  170.316081  167.073085  169.786780  209151400
2015-01-07  169.971573  170.316039  168.770159  169.223836  125346700
2015-01-08  172.987717  173.206165  171.383032  171.399826  147217800
...                ...         ...         ...         ...        ...
2025-01-24  607.969971  610.780029  606.799988  609.809998   34604700
2025-01-27  599.369995  599.690002  594.640015  594.809998   70361100
2025-01-28  604.520020  605.369995  597.250000  600.619995   44433300
2025-01-29  601.809998  604.130005  599.219971  603.719971   37177400
2025-01-30  605.039978  606.599976  600.719971  603.960022   39281300

[2535 rows x 5 columns]